## Week 7 Independent Manipulating Data 
By: Dean Wilson  
Course: BGEN 632: Graduate Introduction to Python  
Date: 20250415

### Import Modules

In [38]:
import os
import pandas as pd

### Working Directory

In [39]:
os.chdir('C:\\Users\\deanb\\OneDrive\\Desktop\\Python Graduate Class\\Week 7\\week7labs-main\\data') # Establishing Working Directory

### Data

In [40]:
hospital_df = pd.read_csv('CaliforniaHospitalData.csv')
personnel_df = pd.read_table('CaliforniaHospitalData_Personnel.txt') # Opening files

### Merging Data

In [41]:
hospitalmerged_df = pd.merge(hospital_df, personnel_df, on='HospitalID', how='left') # Merge hospital_df and personnel_df on column HospitalID through hospitalmerged_df, had to use left to prevent columns from being deleted

### Dropping Duplicate Columns

In [42]:
hospitalmerged_df.drop(['Work_ID', 'PositionID', 'Website'], axis=1, inplace=True) # Removed these columns permanently on our new merged_df

### Filtering & Creating New File

In [43]:
filtered_df = hospitalmerged_df[
    (hospitalmerged_df['Teaching'] == 'Small/Rural') &
    (hospitalmerged_df['AvlBeds'] >= 15) &
    (hospitalmerged_df['OperInc'] >= 0)
] # Filtered out hospitals that don't fit in these requirements
filtered_df.to_csv('hospital_data_new.txt', sep='\t', index=False) # Saved this filtered_df as a new file 'hospital_data_new' and it is tab seperated

### Opening New Created File

In [44]:
hospitalnew_df = pd.read_csv('hospital_data_new.txt') # Loaded New txt file

### Renaming Columns

In [45]:
hospitalnew_df.rename(columns = {
    'NoFTE':'FullTimeCount', 
    'NetPatRev':'NetPatientRevenue', 
    'InOperExp':'InpatientOperExp',
    'OutOperExp':'OutpatientOperExp',
    'OperRev':'Operating_Revenue',
    'OperInc':'Operating_Income'
}, inplace=True) # Changed Column names and made it permanent, but it has corrupted dates, so I will have to redo this again, but leaving this here for credit.

### Establishing Today DateTime

In [46]:
today = pd.to_datetime('2025-04-15')

### Adding 2 New Rows of Me

In [47]:
new_rows = pd.DataFrame(
    {'LastName': ['Wilson', 'Wilson'], 
     'FirstName': ['Dean', 'Dean'],
     'PositionTitle': ['Safety Inspection Member', 'Acting Director'],
     'HospitalID': ['46996', '37393'],
     'Name': ['Ridgecrest Regional Hospital', 'Barstow Community Hospital'],
     'Zip': ['93555', '92311'],
     'TypeControl': ['Non Profit', 'Investor'],
     'DonorType': ['Charity', 'Charity'],
     'Teaching': ['Small/Rural', 'Small/Rural'],
     'NoFTE': [400, 262],
     'NetPatRev': [139170.38, 116797.83],
     'InOperExp': [23385570.1, 13684502.49],
     'OutOperExp': [24661355.9, 15159986.51],
     'OperRev': [51087341, 42845642],
     'OperInc': [3040415, 14001153],
     'AvlBeds': [55, 42],
     'Gender': ['M', 'M'],
     'Compensation': [23987, 46978],
     'MaxTerm': [2, 4],
     'StartDate': ['4/15/2025', '4/15/2025'],
     'Phone': ['951-585-7892', '951-4887-8956'],
     'Email': ['FakeEmail@gmail.com', 'FakeEmail2@gmail.com']
     
    }, # Added myself twice as new rows (2) with the following information
)
new_merge = pd.concat([hospitalmerged_df, new_rows], ignore_index=True) # New dataframe where we have stacked the new rows with hospitalnew_df

### Date Errors Forced another Rename

In [48]:
new_merge.rename(columns = {
    'NoFTE': 'FullTimeCount',
    'NetPatRev': 'NetPatientRevenue',
    'InOperExp': 'InpatientOperExp',
    'OutOperExp': 'OutpatientOperExp',
    'OperRev': 'Operating_Revenue',
    'OperInc': 'Operating_Income'
}, inplace=True) # Had to create another rename due to error with date conversion in previous rename, was unable to fix and CHATGpt couldnt solve it either.

### Creating Filters From New Merge

In [49]:
largehospitals_df= new_merge[
    (new_merge['TypeControl'] == 'Non Profit') &
    (new_merge['FullTimeCount'] > 250) &
    (new_merge['NetPatientRevenue'] >= 109000)
].copy() # Creating filter to show non profits only, 250 or more employees and net patient revenue over 109,000 and .copy to remove Settingwithcopywarning
largehospitals_df.drop(
    ['FirstName', 'LastName', 'PositionTitle', 'StartDate',
     'Phone', 'Email', 'Compensation', 'MaxTerm', 'Gender'],
    axis=1,
    inplace=True
) # Dropping all other columns for this filtered data

In [50]:
regrep_df= new_merge[
    (new_merge['PositionTitle'] == 'Regional Representative') &
    (new_merge['Operating_Income'] > 100000)
].copy() # Creating filter to show Regional Representatives who have OpIncome of > 100,000, again used .copy to get past error

### Converting to DateTime

In [51]:
new_merge['StartDate'] = pd.to_datetime(new_merge['StartDate'], errors='coerce') # Converted StartDate to datetime, had to include coerce to prevent NaT values

In [52]:
print(new_merge.dtypes)

HospitalID                   object
Name                         object
Zip                          object
TypeControl                  object
Teaching                     object
DonorType                    object
FullTimeCount               float64
NetPatientRevenue           float64
InpatientOperExp            float64
OutpatientOperExp           float64
Operating_Revenue             int64
Operating_Income              int64
AvlBeds                       int64
LastName                     object
FirstName                    object
Gender                       object
PositionTitle                object
Compensation                  int64
MaxTerm                       int64
StartDate            datetime64[ns]
Phone                        object
Email                        object
dtype: object

In [53]:
print(new_merge['StartDate'].head())

0   2012-01-01
1   2009-01-01
2   2012-01-01
3   2009-01-01
4   2011-01-01
Name: StartDate, dtype: datetime64[ns]

## References
* OpenAI. (2025). ChatGPT (April 15 version) [Large language model]. https://chat.openai.com/share/67fefb16-1b04-8001-b964-697d7f6480ca

* GeeksforGeeks. (2024, March 15). Formatting dates in Python. https://www.geeksforgeeks.org/formatting-dates-in-python/ # referenced this in chatgpt, ultimatley didn't use provided information for date issues

* 07_Tutorial

* 07_Instructor_Lab